<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Blogify</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <% if (locals.user) { %>
        <li class="nav-item">
          <a class="nav-link" href="/blog/submitBlog">Add Blogs</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <%= user.name %>
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/user/logout">SignOut</a></li>
          </ul>
        </li>
        <% } else { %>
        <li class="nav-item">
          <a class="nav-link" href="/user/signup">Create Acount</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/signin">Signin</a>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
<% if (locals.successfull) { %>
<div class="container m-4">
  <div class="alert alert-success" role="alert"><%= successfull %></div>
</div>
<% } %>
<div class="card-container" style="display: flex; flex-wrap: wrap">
  <% if (locals.blogs) { %>
    <% locals.blogs.map(element => { %>
      <div class="card" style="width: 18rem; margin: 10px;">
        <img src="<%= element.coverImageUrl %>" class="card-img-top" style="width: 100%; height: 200px; object-fit: cover;">
        <div class="card-body">
          <h5 class="card-title"><%= element.title %></h5>
          <a href="/blog/viewBlog/<%= element._id %>" class="btn btn-primary">Read</a>
        </div>
      </div>
    <% }) %>



  <% } %>

  




</div>
